.date-time-picker {
    position: relative;
}
.calendar{
    display: inline-block;
    border: 1px solid #ddd;
    background: #fff;
    color: #222;
    border-radius: 4px;
    padding: 10px;
    font-size: 12px;
    box-shadow: 1px 1px 1px #eee;
}
.date-picker {
    display: inline-block;
    position: relative;
}
.time-picker {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-top: 50px;
}
.calendar {
    position: absolute;
    top: 100%;
    z-index: 1000;
    left: 0;
}
.date-picker  table caption span.prev {
    left: 7px;
}
.date-picker  table caption span.next {
    right: 7px;
}
.date-picker  table caption span.prev,
.date-picker  table caption span.next {
    position: absolute;
    top: 4px;
    z-index: 1;
    cursor: pointer;
    display: block;
    width: 12px;
    height: 12px;
    text-align: center;
}
.date-picker  table caption span.center {
    font-size: 14px;
    display: block;
}
.date-picker  table span.date{
    cursor: pointer;
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}
.date-picker  table span.date.today{
    border: 1px solid #222;
}
.date-picker  table span.date:hover{
    background: #ddd;
}
.date-picker table span.date.selected {
    background: #222;
    color: #fff;
}
.date-picker  table span.date.prev,
.date-picker  table span.date.next {
    color: #b9b6b6;
}
.date-picker table th {
    height: 20px;
    text-align: center;
}
.selector {
    display: inline-block;
}
.selector span.title{
    display: block;
    font-size: 13px;
}
.options {
    padding: 5px;
    text-align: center;
}

.date-time-picker .calendar span.close::after {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
}

.date-time-picker .calendar span.close::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.date-time-picker .calendar span.close::before, .date-time-picker .calendar span.close::after {
    content: "";
    width: 100%;
    background: #000;
    height: 2px;
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -1px;
}
.date-time-picker .calendar span.close {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 0;
    top: 0;
    opacity: 1;
}

.date-time-picker p{
    width: 100%;
    color:#222;
    padding: 5px;
    margin: 0;
    border: 1px solid #222;
}